* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info-container {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #363636;
  height: calc((100vh) / 20 + 200px);
}

body {
  background-color: #222021;
}

.image-box {
  overflow: hidden;
  height: 100%;
  min-width: 30%;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  gap: 10px;
}

.search-bar {
  width: 20rem;
  height: 40px;
  font-size: 1.3rem;
  padding: 5px 15px;
  border-radius: 1rem;
  border: 1px solid black;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  height: fit-content;
}

.miscelaneous-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: whitesmoke;
}

.history {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 10px 0;
  color: whitesmoke;
}

.history-tags {
  display: flex;
  border: 1px solid whitesmoke;
  width: 90%;
  gap: 20px;
  border-radius: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.history-tags h2 {
  text-decoration: underline;
  cursor: pointer;
}

.history-tags h2:hover {
  color: rgb(159, 159, 231);
}

.header {
  display: flex;
  width: 100%;
  height: 4rem;
  background-color: #363636;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.header a {
  text-decoration: none;
  font-size: 2rem;
  color: whitesmoke;
}

.header a:hover {
  color: rgb(189, 176, 176);
}

/* MODAL */
body.active-modal {
  overflow-y: hidden;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: #222021;
  padding: 14px 28px;
  border-radius: 3px;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  color: whitesmoke;
  gap: 20px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.modal-content img {
  max-width: auto;
  overflow: hidden;
}

.stat-box {
  width: 70%;
  background-color: #363636;
  display: flex;
  height: fit-content;
  border-radius: 1rem;
  padding: 0 20px;
  justify-content: space-around;
  align-items: center;
}
